<div id="ranking-modal" class="ranking-overlay">
    <div class="ranking-content">
        <div id="modal-close" class="close-button">×</div>

        <div id="ranking-container" class="ranking-container">
            <div class="ranking-header">
                <h2 class="ranking-title" data-i18n="ranking.title">Best Players</h2>
            </div>
            <div class="ranking-body">
                <ul id="ranking-list">
                    <li class="ranking-header">
                        <span>#</span>
                        <span data-i18n="ranking.header.name">Name</span>
                        <span data-i18n="ranking.header.stage">Stage</span>
                        <span data-i18n="ranking.header.deaths">Deaths</span>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
</div>